@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-8tkyau');
	src:url('fonts/icomoon.eot?#iefix-8tkyau') format('embedded-opentype'),
		url('fonts/icomoon.woff?-8tkyau') format('woff'),
		url('fonts/icomoon.ttf?-8tkyau') format('truetype'),
		url('fonts/icomoon.svg?-8tkyau#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e942";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-share2:before {
	content: "\ea82";
}

.icon-mail:before {
	content: "\ea83";
}

.icon-mail2:before {
	content: "\ea84";
}

.icon-mail3:before {
	content: "\ea85";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-github:before {
	content: "\eab1";
}

.icon-github2:before {
	content: "\eab2";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css3:before {
	content: "\eae1";
}

.icon-git:before {
	content: "\eae2";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}


/*---------------
 * Universal Styles
 ---------------*/

html {
    background: #5C3D20 url('../images/unsplash-desk-with-phone-dark-sm-2X.jpg') fixed no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
    width: 100%;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 3.25em;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}
h3 {
    margin: 0;
    text-align: center;
    font-size: 2em;
}
h4 {
    font-weight: 400;
    text-align: center;
    font-size: 1.75rem;
}
h5 {
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 1.3em;
}
p, a {
    font-family: Raleway, Helvetica, sans-serif;
}
a {
    color: #c2542b;
    text-decoration: none;
}
p {
    color: #222;
    font-weight: 200;
}
li {
    font-weight: 200;
}
b {
    white-space: nowrap;
    font-weight: 400;
}
section {
    padding: 0;
    background: #eee;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
    .intro {
        border-top: none;
    }
    section:nth-child(odd) {
        background: #e6e6e6;
    }
    .contact {
        box-shadow: 0 15px 10px -10px rgba(0,0,0,.4);
    }
hr {
    margin: 1.5rem auto 2rem;
    padding: 0;
    max-width: 920px;
    width: 85%;
}

/*---------------
 * Header Styles
 ---------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 6rem;
    background: #222;
}
    header a {
        color: #888;
        transition: .25s;
    }
    header a:hover {
        color: #eee;
    }
.header-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6rem;
}
.logo {
    float: left;
    margin-left: 1.5rem;
    line-height: 1.5;
}
    .logo a {
        color: #c2542b;
        font-weight: 200;
        font-size: 4rem;
    }
.slideout-menu {
    position: fixed;
    top: 6rem;
    display: none;
    margin: 0;
    padding: 1em 0 0;
    width: 100%;
    background: #222;
    list-style: none;
    text-align: center;
}
    .slideout-menu li {
        margin: 0;
        padding: 0 0 2em 0;
    }
    .slideout-menu li a {
        padding: 20px 50px;
    }
    .slideout-menu-icon {
        float: right;
        margin: 0 1.5rem 0 0;
        color: #c2542b;
        font-size: 2em;
        line-height: 2.2;
    }
.desktop-nav {
    display: none;
}

/*---------------
 * Intro Styles
 ---------------*/

.intro {
    display: table;
    margin-top: 6rem;
    width: 100%;
    height: 600px;
    background: none;
    color: #eee;
    text-align: center;
    text-shadow: #000 1px 1px 2px;
}
    .intro p {
        color: #eee;
    }
    .intro-greet {
        margin: 0;
        font-size: 6rem;
    }
    .intro-splash-container {
        display: table-cell;
        vertical-align: middle;
    }
    .intro-splash {
        margin-top: -6em;
    }
    .intro-bg {

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        min-width: 1024px;
        min-height: 100%;

        width: 100%;
        height: auto;
    }

/*---------------
 * Content Styles
 ---------------*/

section p {
    text-align: center;
}
.about,
.works,
.contact {
    padding: 1em 0;
}
.scroll-target {
    position: relative;
    top: -5em;
}
.section-title {
    margin: 2rem;
    border-bottom: 1px solid #9d3914;
}

/*---------------
 * About Styles
 ---------------*/

.about {
    overflow: hidden;
}
    .about-picture, .about-picture img {
        display: none;
    }
        .about-picture p {
            height: 100%;
        }
        .about-picture img {
            margin: 0 auto;
        }
    .skills {
        text-align: center;
    }
    .skills li {
        display: inline-block;
        padding: .5em;
        border-radius: 5px;
        background: #222;
        color: #eee;
    }

/*---------------
 * Portfolio Styles
 ---------------*/


/*---------------
 * Contact Styles
 ---------------*/

.contact-info-container {
    margin: 0 auto 2rem;
}
    .contact-buttons {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        list-style: none;
        text-align: center;
    }
        .contact-buttons li {
            display: block;
            overflow: hidden;
            margin: 0 0 1.5em;
            border: 1px solid #c2542b;
            border-radius: 5px;
            white-space: nowrap;
        }
        .contact-buttons span {
            margin-right: .25em;
            font-size: 1.25em;
        }
        .contact-buttons li a {
            display: inline-block;
            width: 100%;
            padding: .8em 0;
            color: #c2542b;
            vertical-align: middle;
            transition: .2s;
        }
        .contact-buttons li a:hover {
            background: #c2542b;
            color: #eee;
        }
    .contact-form input, .contact-form textarea {
        display: block;
        width: 100%;
    }

/*---------------
 * Footer Styles
 ---------------*/
footer {
    padding: 1em 0;
    text-align: center;
}
    footer p {
        color: #eee;
        font-weight: 200;
    }

/*---------------
 * Media Queries
 ---------------*/
@media only screen and (min-width: 550px) {
    .about-picture, .about-picture img {
        display: block;
        height: 100%;
    }
}
@media only screen
and (min-width : 768px)
{
    html {
        background: #5C3D20 url('../images/unsplash-desk-with-phone-dark.jpg') fixed no-repeat center;
        font-size: 12px;
    }
    hr {
        width: 80%;
    }

    .desktop-nav {
        display: block;
        float: right;
        margin: 2rem 0 0 0;
        text-align: right;
    }
        .desktop-nav ul {
            margin: 0;
            padding: 0 10px;
            list-style: none;
        }
        .desktop-nav li {
            display: inline-block;
        }
        .desktop-nav a {
            padding: 1.5rem;
        }
        .slideout-menu, .slideout-menu-icon {
            display: none;
        }
    .intro-splash {
        margin-top: -12rem;
    }


    .contact-buttons li {
        display: inline-block;
        margin-right: .5em;
        margin-bottom: 0;
        padding: 0;
    }
    .contact-buttons li:last-child {
        margin-right: 0;
    }
    .contact-buttons li a {
        padding: .5em 1em;
        width: inherit;
        height: inherit;
    }
}
@media only screen and (min-width: 992px) {
    html {
        font-size: 14px;
    }
}
