@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-79lgsp');
    src:url('fonts/icomoon.eot?#iefix-79lgsp') format('embedded-opentype'),
        url('fonts/icomoon.woff?-79lgsp') format('woff'),
        url('fonts/icomoon.ttf?-79lgsp') format('truetype'),
        url('fonts/icomoon.svg?-79lgsp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}

.icon-mail2:before {
    content: "\ea84";
}

.icon-facebook:before {
    content: "\ea8c";
}

.icon-twitter:before {
    content: "\ea91";
}

.icon-github2:before {
    content: "\eab2";
}

.icon-linkedin2:before {
    content: "\eac9";
}

.icon-html52:before {
    content: "\eae0";
}

.icon-chrome:before {
    content: "\eae5";
}

.icon-firefox:before {
    content: "\eae6";
}

.icon-IE:before {
    content: "\eae7";
}

.icon-opera:before {
    content: "\eae8";
}

.icon-safari:before {
    content: "\eae9";
}

body {
    margin: 0;
    width: 100%;
    background: #242d3b;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
h1 {
}
h2 {
}
h3 {
    text-align: center;
    margin: 0;
}
h4 {
    text-align: center;
    font-size: 2.25rem;
}
p, a {
    font-family: Raleway, Helvetica, sans-serif;
}
a {
    color: #c2542b;
    text-decoration: none;
}
p {
    color: #333;
}
section {
    padding: 2rem 0;
    background: #eee;
    height: 600px;
}
/*---------------
 * Header Styles
 ---------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 6rem;
    background: #111;
}
    header a {
        color: #888;
    }
    header a:hover {
        color: #eee;
    }
.logo {
    float: left;
    margin-left: 1rem;
}
    .logo a {
        color: #c2542b;
    }
nav {
    float: right;
    margin: 2rem 0 0 0;
    text-align: right;
}
    nav ul {
        margin: 0;
        padding: 0 10px;
        list-style: none;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1.5rem;
    }

/*---------------
 * Intro Styles
 ---------------*/
.intro {
    display: table;
    height: 600px;
    width: 100%;
    background: none;
    text-align: center;
    color: #eee;
    text-shadow: #000 1px 1px 4px;
    margin-top: 6rem;
}
    .intro p {
        color: #eee;
    }
    .intro-greet {
        margin: 0;
        font-size: 6rem;
    }
    .intro-splash {
        display: table-cell;
        vertical-align: middle;
    }
    .intro-bg {
        min-width: 1024px;
        min-height: 100%;

        width: 100%;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

/*---------------
 * Content Styles
 ---------------*/
section p {
    text-align: center;
}
.section-title {
    margin: 2rem;
}
.scroll-target {
    position: relative;
    top: -5em;
}
/*---------------
 * About Styles
 ---------------*/
.about .section-title {
    border: 1px solid #66ae26;
}
/*---------------
 * Portfolio Styles
 ---------------*/
.portfolio .section-title {
    border: 1px solid #1e8657;
}

/*---------------
 * Contact Styles
 ---------------*/
.contact .section-title {
    border: 1px solid #21577d;
}
.contact-info {
    margin-top: .5rem;
}
.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
}
/*---------------
 * Footer Styles
 ---------------*/
